.card{
    background-color: #aabdab;
    margin: 7%;
    padding: 1%;
    border: 3px solid #485269;
    
    
}
.payy{
    width: 400px !important;
}
.btn{
    margin: 4px;
}
.wrap{
    text-align: center;
}
label{
    display: inline;
}